body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

*  {
  background: #eefcfa;
  font-family: 'Architects Daughter';
  box-sizing: border-box;
}

p {
  font-size: 22px;
  color: #1c0812;
  font-weight: bold;
  font-family: 'Architects Daughter';
}

h1 {
  margin: auto 30px; 
  padding: 10px;
  color: #1c0812;
  font-weight: bold;
  font-family: 'Architects Daughter';
}


#myImage {
  margin: auto 70px;
}

#about-container, #image-container, .education-container {
  margin: 0px 10px;
}
.key-title, .resume, .name, .title, .contact, .education {
  font-weight: bold;
  color: #1c0812;
  font-family: 'Architects Daughter';
}

.name {
  font-size: 4rem;
  color: #1c0812;
  display: flex;
  justify-content: center;
  align-content: center;
  letter-spacing: 20px;
}

.job {
  font-size: 2rem;
  color: #1c0812;
  display: flex;
  justify-content: center;
  align-content: center;       
}

.card {
  background-color: white;
  border-radius: 2px;
  height: 525px;
  margin: 1rem;
  position: relative;
  width: 325px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: left;
}

.card > .img-container {
  height: 50%;
  overflow: hidden;
  text-align: center;
  border-radius: 10px;
  background-color: white;
}
.card > .img-container > img {
  width: 100%;
  padding: 25px;
  background-color: white;
}

.card > .content {
  padding-right: 1rem;
  font-size: 18px;
  background-color: white;
  color: #1c0812;
  font-weight: bold;
}

.card > .content > ul {
  list-style-type: none;
  background-color: white;
}

.card > .content > ul > li {
  margin-top: 18px;
  background-color: white;
}

.wrapper {
  padding-top: 50px;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  padding: 20px;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
}

#footer {
  margin: auto;
  justify-content: center;
  padding: 15px;
}

.icon {
  padding: 10px;
}

.nav {
  justify-content: flex-end;
  font-size: 24px;
}

#port-icon {
  background-color: white;
  margin: 0px 20px;
}

.project-title {
  background-color: white;
  font-weight: bold;
  font-family: 'Architects Daughter'

}

.project-description {
  background-color: white;
  font-weight: normal;
  color: #1c0812;
}

.project-icons {
  background-color: white;
  display: flex;
  justify-content: center;
  align-content: center;
}

#contact-form {
  margin: 15px 650px;
  font-size: 18px;
  color: #1c0812;
  font-weight: bold;
  align-content: flex-start;
}

.contact-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.resume-container {
  margin: 20px 50px;
  color: #1c0812;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 22px;
}

.nav-link, .link, .btn {
  color: #1c0812;
  font-weight: bold;
}

.nav-link:hover, .link:hover {
  color: #1c0812;
  font-weight: bold;
  text-decoration: none;
}

.active {
  color: #1c0812;
}

.banner {
  width: 100%;
}

.my-portrait {
  border-radius: 50%;
  padding: 50px 50px;
}

.contact-container {
  margin: 200px;
  justify-content: left;
}

@media screen and (max-width: 767px) { 
  p, .resume-container {
    font-size: 20px;
  }
}

.image {
  width: 200%;
  height: 100%;
}

.name {
  font-size: 35px;
  color: #1c0812;
  letter-spacing: normal;
}

.job {
  font-size: 30px;
  color: #1c0812;
}

.nav {
  justify-content: flex-end;
  font-size: 22px;
}

.contact-icons, .icon-text {
  margin: auto 50%; 
}

.flex-end {
justify-content: flex-end;
}

.px-1 {
padding-right: var(--spacing-one);
padding-left: var(--spacing-one);
}


button:hover {
  opacity: 0.8;
}

button[disabled] {
  cursor: default;
  opacity: 0.8;
}

input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid #000000;
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

input:focus {
  border: 1px solid #f3a847;
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5);
}

textarea {
  width: 600px;
  height: 120px;
  border: 3px solid #cccccc;
  padding: 5px;
}

button {
  background: #8c54ff;
  border: 0;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 30px;
  padding: 10px 15px;
}
